<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/productDetail.css">
        <title>Document</title>
    </head>
    <body>
        <%- include('./partials/header')%>
    
            
        <div class="contenido">
            <div class="infoproducto">
                <div class="izquierda">
                    <div class="titulo marginbottom">
                        <h1><%= producto.titulo %></h1>

                    </div>
                    <div class="descripcion marginbottom">

                        <p><%= producto.descripcion %></p>
                    </div>
                    <div class="precio marginbottom">
                                            <h2>$<%= producto.precio %></h2>
                    </div>
                    <a href="/productCart"><span class="botom">
                        Agregar al carrito
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQlJREFUSEvNlMEVATEQhr+tgBKoAB1QAR3gygEdUAEXrqgAHVABKkAFqIA33mbf2pVNWPHMNZP55s8/Ew/H4Tmuz08BN1/NBZgBvW+oCytQAFW3AqzTQl49URcYAiug5gKQBc5+4TxwTAPRmSwe1FMU3gElua8DFIFtCsAJyCUB5Ey6KGggqrHoYKj0AdA3ARrA9ENA4J1p0WQnMiGILj+sZAOU1R0TYAR03gQ0/UV9XDMBxKjDi2fSeXD1zRXlVgBJWgLVCEQHmAPiXRAmBZIo27ywHNnY92IDMI2sYu8B2Z+nsAVYCoin2QLGQAuYAO1ImaQz4xSpWuE5jzaVdGYNcK7AuQf/C7gDNOwuGTttIPQAAAAASUVORK5CYII="/>
                    </span></a> <a href="/productCart"></a>
                </div>
                <div class="derecha">
                    <img src="/images/<%= producto.img %>" />
                </div>
            </div>
            <div class="slider">
                <!-- Slider productos recomendados -->
                    <%- include('./partials/productRecom',{productos:productos})%>
            </div>
        </div>
        
        <%- include('./partials/footer')%>

    </body>
</html>